.cache
.vscode
.idea*
*.pyc
__pycache__/
migrations



# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environments
.env
.venv
