[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
plotly = "*"
django = "*"

[dev-packages]
pytest-watch = "*"
pytest-cov = "*"
flake8 = "*"
pylint = "*"
pylint-django = "*"
autopep8 = "*"
wemake-python-styleguide = "*"

[requires]
python_version = "3.6"
